p
{
text-align: justify;
}

h3
{
	text-align : center;
}

div
{
	text-align : center;
}

h1
{
font-size: 40px; /* Titres de 40 pixels */
}
p
{
font-family: Time new roman, serif;
}
p
{
	font-size: 20px;
}
ul
{
	font-size:20px;
}